#contact
	width 100%
	float left
	.contact-social
		width 40%
		float left
		background-color $blue1
		color white
		padding 0% 2% 0% 10%
		position relative
		.contact-social-presentation
			width 100%
			float left
			text-align center
			margin-bottom 1em
			h2
				color white
				font-family $font1
				margin 5% 0% 2% 0%
				font-weight: 400;
				text-align center
			span
				width 100%
				float left
				font-family $font2
				font-weight: 300
		.contact-social-icon
			position absolute
			font-size 2em
			top 5%
			left 10%
		.social-square
			width 100%
			float left
			position relative
			a
				width 100%
				float right
				text-decoration none
				color white
				padding 25px 0%
				transition all 250ms
				&:hover
					padding 20px 0px 30px 0px
					.social-icon
						top 10px
						text-shadow: 0px 0px 2px white
						box-shadow: 0px 0px 2px white
					.social-text
						text-shadow: 0px 0px 2px white
						span
							font-size 1em
				.social-icon
					width 2.5em
					height 2.5em
					border-radius 50%
					border solid 1px white
					position absolute
					text-align center
					top 15px
					left 0%
					transition all 250ms
					i
						padding 28%
					.bigger
						padding 25%
						font-size 1.3em
				.social-text
					width 100%
					float left
					padding-left 3em
					transition all 250ms
					span
						font-family $font2
						font-weight 400
						transition all 250ms
	.contact-form
		width 60%
		float left
		padding  0% 10% 0% 2%
		text-align justify
		.form-presentation
			width 100%
			float left
			h2
				font-family $font1
				color #353535
				margin 2% 0%
				text-align center
				font-weight: 300
			span
				font-family $font2
				font-weight: 300
				a
					text-decoration none
					font-weight: 400
					color $blue1
		.form
			width 100%
			float left
			.half-area
				width 49%
				float left
				padding 8px 0%
				input
					width 100%
					float left
					padding 15px 5px
					font-family $font1
					color #6e6e6e
					font-size .9em
					border solid 1px #6e6e6e
					&:hover, &:focus
						border solid 1px $blue1
						box-shadow: 0px 0px 2px $blue1
			.left
				margin-right 1%
			.right
				margin-left 1%
			.whole-area
				width 100%
				float left
				padding 8px 0%
				input, textarea
					width 100%
					float left
					padding 15px 5px
					font-family $font1
					color #6e6e6e
					font-size .9em
					border solid 1px #6e6e6e
					&:hover, &:focus
						border solid 1px $blue1
						box-shadow: 0px 0px 2px $blue1
			.button-area
				width 100%
				float left
				text-align center
				margin 8px 0px
				button
					width 30%
					float left
					border solid 2px #6e6e6e
					color #6e6e6e
					font-family $font2
					font-size 1.2em
					padding 10px 0
					margin 0px 35%
					transition all 500ms
					&:hover
						width 40%
						border-radius 30px
						margin 0% 30%
						background-color $blue1
						border solid 2px $blue1
						box-shadow 0px 0px 5px $blue1
						color white
