#contact
	width 100%
	float left
	.contact-social
		width 50%
		float left
		background-color $blue1
		color white
		padding 0% 2% 0% 15%
		position relative
		.contact-social-presentation
			width 100%
			float left
			text-align justify
			h2
				color white
				font-family $font1
				margin 5% 0% 2% 0%
				font-weight: 400;
			span
				width 85%
				float left
				font-family $font2
				font-weight: 300
		.contact-social-icon
			position absolute
			font-size 2em
			top 5%
			left 20%
