footer#footer
	size 100
	height 90vh
	background-image url('http://oneclickpixels.com/investable/assets/images/bg-imgs/bg-img-3.jpg')
	background-size cover
	background-position center center
	@media(max-width 992px)
		height auto
	.overlay
		background-color rgba(0,5,71,0.6)
		height 100%
		size 100
	.content-footer
		size 100
		padding-top 15vh
		h1.title
			color #f1f1f1
			size 60
			text-align center
			font-family 'Roboto Condensed', sans-serif
			padding 0
			margin 0 0 0 20%
			font-size 46px
			ap(text-shadow, 1px 1px 1px #565252)
			@media(max-width 992px)
				size 100
				font-size 27px
				margin 0
		.block-buttons
			size 100
			padding-top 8vh
			text-align center
			> a
				display inline-block
				transition all 250ms ease-in-out
				font-family 'Roboto Condensed', sans-serif
				text-decoration none
				border 0
				cursor pointer
				font-size 20px
			a.btn-simulate
				color #444
				padding 10px 40px
				border-radius 4px
				background-color alpha(#FFF, 0.9)
				&:hover
					color #FFF
					background-color: colors.blue1
		.footer-social
			size 100
			margin-top 20vh
			border-top 1px solid alpha(#FFF, 0.5)
			padding 20px 5% 0 5%
			@media(max-width 992px)
				margin-top 30px
			ul
				size 50
				list-style none
				padding 0
				margin 0
				@media (max-width 992px)
					size 100
				li
					display inline-block
					margin 0 10px
					@media (max-width 992px)
						display block
						text-align center
						margin 0
					> a
						display block
						text-decoration none
						transition all 250ms ease-in-out
				&.list-links
					li
						> a
							color alpha(#FFF, 0.8)
							letter-spacing 1px
							font-size 18px
							font-family 'Roboto Condensed', sans-serif
							@media (max-width 992px)
								padding 3px 0
							&:hover
								color #FFF
						&:first-child
							margin-left 0
				&.list-social
					text-align right
					@media (max-width 992px)
						text-align center
						padding-top 20px
						padding-bottom 10px
					li
						@media (max-width 992px)
							display inline-block
						> a
							font-size 22px
							color #222
							width 45px
							height @width
							line-height 50px
							text-align center
							border-radius 50%
							background-color alpha(#FFF, 0.8)
							position relative
							@media (max-width 992px)
								width 37px
								height @width
								line-height 40px
								font-size 18px
							&:hover
								background-color #FFF
						.fb
							opacity 1
						.li
							opacity 1
						.tt
							opacity 1

