#getit
	width 100%
	float left
	background-color #FFF
	transition all 500ms
	padding 70px 0 0 0
	.getit-presentation
		width 100%
		float left
		text-align center
		h2
			color: colors.blue1
			font-family 'Open Sans', sans-serif
			font-size 28px
			margin 0 0 5px 0
		span
			color #6e6e6e
			font-family 'Open Sans', sans-serif
			width 100%
			float left
			font-size 15px
			margin-bottom 30px
			color #353535
		.discover
			width 20%
			height 80px
			color darken($blue1, 30%)
			font-family $font1
			transition all 500ms
			font-size 1.8em
			margin 1% 0%
			background-color white
			border-radius 0px
			border solid 1px darken($blue1, 30%)
			text-transform uppercase
			&:hover
				width 25%
				border-radius 25px
				color white
				background-color darken($blue1, 30%)
				box-shadow 0px 0px 5px darken($blue1, 30%)
		.actived
			width 25%
			margin 0% 37.5%
			border-radius 25px
			color white
			background-color darken($blue1, 30%)
			box-shadow 0px 0px 5px darken($blue1, 30%)
	.steps
		width 100%
		float left
		display block
		.step
			width 25%
			float left
			padding 0.5%
			text-align center
			display block
			.step-content
				width 100%
				float left
				padding 20px
				.step-presentation
					width 100%
					float left
					.step-icon
						width 100%
						float left
						i
							color darken($blue1, 30%)
							font-size 3em
							width 140px
							height @width
							line-height @height
							text-align center
							border-radius 50%
							border solid 1px darken($blue1, 30%)
					h4
						color #404040
						font-family 'Roboto Condensed', sans-serif
						font-size 26px
						margin 10px 0 0 0
						font-weight bold
						size 100
						span
							color: darken($blue1, 30%)
				.step-explanation
					width 100%
					float left
					color #4a4a4a
					font-size 16px
					padding-top 5px
					font-family 'Open Sans', sans-serif
					p
						size 100
						padding 0
						margin 0