header#header
	width 100%
	float left
	position absolute
	top 0
	left 0
	transition all 250ms ease-in-out
	.block-menu
		width 100%
		float left
		border-bottom 1px solid alpha(#FFF, 0.3)
		padding 25px 0
		transition all 250ms ease-in-out
		.logo
			width 15%
			float left
			> img
				max-width 100%
				display block
				margin 0 auto
		ul
			float left
			width 70%
			text-align center
			list-style none
			padding 0
			margin 0
			li
				display inline-block
				> a
					color #FFF
					font-size 16px
					letter-spacing 1px
					padding 5px 0 0 45px
					display block
					font-family 'Open Sans', sans-serif
					text-decoration none
					font-weight 600
		.header-social
			width 15%
			float left
			ul
				list-style none
				position absolute
				top 30%
				right 5%
				width 200px
				li
					inline-block
					a
						text-decoration none
						color white
						padding 0
						width 50px
						text-align center
						.fa-facebook
							font-size 1.3em
						.fa-linkedin
							font-size 1.5em
						.fa-twitter
							font-size 1.5em
	&.nice-header
		position fixed
		top 0
		left 0
		z-index 4
		.block-contact
			display none
		.block-menu
			background-color #FFF
			ap(box-shadow, 0 3px 6px 0 rgba(0, 0, 0, 0.1))
			padding 15px 0
			ul li > a
				color #666
