header#header
	width 100%
	float left
	position absolute
	top 0
	left 0
	transition all 250ms ease-in-out
	.block-menu
		width 100%
		float left
		padding 40px 0
		transition all 250ms ease-in-out
		.container
			padding-left 60px
			padding-right @padding-left
			transition all 250ms
		.logo
			size 15
			> img
				max-width 100%
				display block
		.menu
			size 70
			ul
				size 100
				text-align center
				list-style none
				padding 0
				margin 0
				li
					display inline-block
					> a
						color #FFF
						font-size 16px
						padding 5px 10px
						letter-spacing 1px
						display block
						font-family 'PT Sans', sans-serif
						text-decoration none
						font-weight 400
						text-transform uppercase
						line-height 30px
						transition all 250ms ease-in-out
						&:hover
							color: colors.blue1
		.header-social
			size 15
			ul
				list-style none
				text-align right
				size 100
				padding 0
				margin 0
				li
					display inline-block
					a
						color rgba(255,255,255,0.4)
						font-size 1.4em
						padding 9px 0
						margin 0 4px
						line-height 40px
						transition all 250ms ease-in-out
						&:hover
							color #FFF
	&.nice-header
		position fixed
		top 0
		left 0
		z-index 4
		.container
			padding-left 0
			padding-right @padding-left
		.block-contact
			display none
		.block-menu
			background-color #FFF
			ap(box-shadow, 0 3px 6px 0 rgba(0, 0, 0, 0.1))
			padding 15px 0
			ul li > a
				color #666
			.header-social ul li > a:hover
				color #999
