header
	width 100%
	float left
	position fixed
	.header-fr
		width 100%
		float left
		background-color alpha(black, 50%)
		.hd-divider
			width 33.333%
			float left
			text-align center
			.fa
				color white
			.span-content
				font-family $font1
				color white
	.header-sr
		width 100%
		float left
		background-color alpha(black, 30%)
		.hd-logo
			width 30%
			float left
			height 100px
			background-color transparent
		.hd-menu
			width 70%
			float left
			nav
				width 100%
				float left
				ul
					list-style none
					float right
					margin 4% 0%
					li
						display: inline-block
						a
							text-decoration none
							color white
							font-family $font2
							transition all 250ms
							padding 10px 30px
							position relative
