#home
	width 100%
	float left
	background-image url('../img/home.jpg')
	background-position top center
	background-size cover
	height 100vh
	.shadow
		width 100%
		float left
		height 100%
		background-color alpha(#444444, 40%)
		.hm-divider
			width 50%
			float left
			margin-top 5%
		.simulator-square
			text-align center
			span
				color white
				font-family $font2
				font-size 2em
			form.simulator
				width 100%
				float left
				padding 2%
				.form-item
					width 100%
					float left
					padding 10px 5px
		.presentation-square
			text-align center
			h1
				color white
				font-family $font1
				margin 0.5%
				font-size 2em
			h2
				color white
				font-family $font1
				margin 0.5%
			h3
				color white
				font-family $font1
				margin 0.5% 0% 3% 0%
			span
				color white
				font-family $font2
				margin 5% 0%
				font-size 1.5em
