#question
	width 100%
	float left
	background-color: colors.blue1
	position relative
	padding 30px 0 60px 0
	.selector
		width 100%
		float left
		padding 50px 10% 0 10%
		position relative
		.selector-content
			width 100%
			float left
			button
				width 50%
				float left
				border-top-left-radius: 5px
				border-top-right-radius: 5px
				background-color transparent
				border none
				color white
				font-family $font2
				font-weight: 300
				font-size 1.5em
				padding 2% 0%
				transition all 500ms
				position relative
				cursor pointer
				outline 0
				&:after
					content " "
					width 100%
					float left
					position absolute
					bottom 0
					left 0
					height 15px
					background-color alpha(white, 50%)
					transition all 500ms
					opacity 0
					border-top-right-radius: 5px
					border-top-left-radius: 5px
				&:hover
					opacity 1
					&:after
						opacity 1
			.actived
				background-color white
				border solid 1px white
				color $blue1
				&:after
					background-color white
					border-radius 0
		.question-square
			width 100%
			float left
			border-radius 5px
			background-color white
			display none
			margin-top -5px
			.question-title
				width 100%
				float left
				text-align center
				padding 25px 0
				border-bottom solid 2px #ededed
				> h2
					font-family 'Roboto Condensed', sans-serif
					color: colors.blue1
					font-size 28px
					font-weight normal
					padding 0
					margin 0
			.question-container
				width 100%
				float left
				padding 20px 5% 40px 5%
				.question-field
					width 100%
					float left
					border-bottom solid 2px #ededed
					position relative
					padding 5px 10px 5px 3em
					.query-icon
						position absolute
						top 0px
						left -5px
						transition all 250ms
						i
							font-size 22px
							color #FFF
							width 40px
							height @width
							line-height @height
							text-align center
							background-color: colors.blue1
							border-radius 50%
					.question-query
						width 100%
						float left
						padding 0 0 12px 0
						> h4
							width 100%
							float left
							font-family 'Roboto Condensed', sans-serif
							color lightness(#353535, 20%)
							font-weight: 400;
							font-size 1.2em
							cursor pointer
							padding 0
							margin 0
						.question-answer
							width 100%
							float left
							padding 10px 0
							> p
								font-weight 300
								font-size 15px
								color lightness(#353535, 10%)
								font-family 'Open Sans', sans-serif
								padding 0
								margin 0
					&:last-child
						border-bottom none
		.actived
			opacity 1
			display block
