@import url("https://fonts.googleapis.com/css?family=Roboto:300,400|Ubuntu:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1230px;
  }
}
header#header {
  width: 100%;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
}
header#header .block-contact {
  background-color: rgba(0,0,0,0.15);
  width: 100%;
  float: left;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -moz-transition: all 250ms;
  -o-transition: all 250ms;
  -ms-transition: all 250ms;
  padding-top: 12px;
}
header#header .block-contact ul {
  padding: 0;
  margin: 0 0 10px -5px;
  list-style: none;
  text-align: right;
}
header#header .block-contact ul li {
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: 24px;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
header#header .block-contact ul li:last-child {
  padding-right: 0;
}
header#header .block-contact ul li i {
  margin-right: 3px;
  opacity: 0.7;
  font-size: 17px;
}
header#header .block-menu {
  width: 100%;
  float: left;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  padding: 25px 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
}
header#header .block-menu .logo {
  width: 140px;
  float: left;
}
header#header .block-menu .logo > img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
header#header .block-menu ul {
  float: right;
  width: 70%;
  text-align: right;
  list-style: none;
  padding: 0;
  margin: 0;
}
header#header .block-menu ul li {
  display: inline-block;
}
header#header .block-menu ul li > a {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 5px 0 0 45px;
  display: block;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-weight: 600;
}
header#header.nice-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}
header#header.nice-header .block-contact {
  display: none;
}
header#header.nice-header .block-menu {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1);
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1);
  -o-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1);
}
header#header.nice-header .block-menu ul li > a {
  color: #666;
}
#home {
  width: 100%;
  float: left;
  background-image: url("../img/home.jpg");
  background-position: top center;
  background-size: cover;
  height: 100vh;
}
#home .shadow {
  width: 100%;
  float: left;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}
#home .shadow .hm-divider {
  width: 50%;
  float: left;
  margin-top: 300px;
}
#home .shadow .simulator-square {
  text-align: center;
}
#home .shadow .simulator-square span {
  color: #fff;
  font-family: "Roboto";
  font-size: 2em;
}
#home .shadow .simulator-square form.simulator {
  width: 100%;
  float: left;
  padding: 2%;
}
#home .shadow .simulator-square form.simulator .form-item {
  width: 100%;
  float: left;
  padding: 10px 5px;
}
#home .shadow .presentation-square {
  text-align: center;
}
#home .shadow .presentation-square h1 {
  color: #fff;
  font-family: "Ubuntu";
  margin: 0.5%;
  font-size: 2em;
}
#home .shadow .presentation-square h2 {
  color: #fff;
  font-family: "Ubuntu";
  margin: 0.5%;
}
#home .shadow .presentation-square h3 {
  color: #fff;
  font-family: "Ubuntu";
  margin: 0.5% 0% 3% 0%;
}
#home .shadow .presentation-square span {
  color: #fff;
  font-family: "Roboto";
  margin: 5% 0%;
  font-size: 1.5em;
}
#about {
  width: 100%;
  float: left;
}
#about .about-switch {
  width: 100%;
  float: left;
  text-align: center;
  padding: 5% 30%;
}
#about .about-switch .switch-content {
  width: 100%;
  float: left;
  border-radius: 40px;
  background-color: #ededed;
  height: 80px;
  border: solid 1px #ededed;
  z-index: 99;
}
#about .about-switch .switch-content .switch-item {
  width: 50%;
  float: left;
  border-radius: 40px;
  height: 100%;
  background-color: #ededed;
  border: solid 1px #ededed;
  color: #656565;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -ms-transition: all 500ms;
  font-size: 1em;
}
#about .about-switch .switch-content .switch-item i {
  font-size: 1.4em;
  color: #8090ff;
}
#about .about-switch .switch-content .switch-item:hover {
  color: #212121;
}
#about .about-switch .switch-content .actived {
  background-color: #fff;
  color: #000;
}
#about .about-item {
  width: 100%;
  float: left;
  position: relative;
  height: 400px;
}
#about .about-item .about-item-presentation {
  width: 100%;
  float: left;
}
#about .about-item .about-item-presentation h1 {
  float: left;
  width: 40%;
  font-size: 1.5em;
  font-family: "Roboto";
  color: #404040;
}
#about .about-item .about-item-presentation h1 span {
  font-family: "Ubuntu";
}
#about .about-item .about-item-content {
  width: 100%;
  float: left;
  color: #454545;
  font-family: "Roboto";
  line-height: 1.5;
  margin-top: 50px;
}
#about .about-item .about-item-content span {
  width: 40%;
  float: left;
}
#about .about-item .image {
  width: 70%;
  float: left;
  position: absolute;
  top: -50px;
  right: 0;
  height: 100%;
  background-size: cover;
  z-index: -1;
}
#about .who {
  display: none;
}
#about .who .image {
  background-image: url("../img/who.jpg");
}
#about .mission {
  display: none;
}
#about .mission .image {
  background-image: url("../img/mission.jpg");
}
#about .actived {
  display: block;
}
