@import url("https://fonts.googleapis.com/css?family=Roboto:300,400|Ubuntu:300,400,500");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1230px;
  }
}
header {
  width: 100%;
  float: left;
  position: fixed;
}
header .header-fr {
  width: 100%;
  float: left;
  background-color: rgba(0,0,0,0.5);
}
header .header-fr .hd-divider {
  width: 33.333%;
  float: left;
  text-align: center;
}
header .header-fr .hd-divider .fa {
  color: #fff;
}
header .header-fr .hd-divider .span-content {
  font-family: "Ubuntu";
  color: #fff;
}
header .header-sr {
  width: 100%;
  float: left;
  background-color: rgba(0,0,0,0.3);
}
header .header-sr .hd-logo {
  width: 30%;
  float: left;
  height: 100px;
  background-color: transparent;
}
header .header-sr .hd-menu {
  width: 70%;
  float: left;
}
header .header-sr .hd-menu nav {
  width: 100%;
  float: left;
}
header .header-sr .hd-menu nav ul {
  list-style: none;
  float: right;
  margin: 4% 0%;
}
header .header-sr .hd-menu nav ul li {
  display: inline-block;
}
header .header-sr .hd-menu nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto";
  transition: all 250ms;
  padding: 10px 30px;
  position: relative;
}
#home {
  width: 100%;
  float: left;
  background-image: url("../img/home.jpg");
  background-position: top center;
  background-size: cover;
  height: 100vh;
}
#home .shadow {
  width: 100%;
  float: left;
  height: 100%;
  background-color: rgba(68,68,68,0.4);
}
#home .shadow .hm-divider {
  width: 50%;
  float: left;
  margin-top: 5%;
}
#home .shadow .simulator-square {
  text-align: center;
}
#home .shadow .simulator-square span {
  color: #fff;
  font-family: "Roboto";
  font-size: 2em;
}
#home .shadow .simulator-square form.simulator {
  width: 100%;
  float: left;
  padding: 2%;
}
#home .shadow .simulator-square form.simulator .form-item {
  width: 100%;
  float: left;
  padding: 10px 5px;
}
#home .shadow .presentation-square {
  text-align: center;
}
#home .shadow .presentation-square h1 {
  color: #fff;
  font-family: "Ubuntu";
  margin: 0.5%;
  font-size: 2em;
}
#home .shadow .presentation-square h2 {
  color: #fff;
  font-family: "Ubuntu";
  margin: 0.5%;
}
#home .shadow .presentation-square h3 {
  color: #fff;
  font-family: "Ubuntu";
  margin: 0.5% 0% 3% 0%;
}
#home .shadow .presentation-square span {
  color: #fff;
  font-family: "Roboto";
  margin: 5% 0%;
  font-size: 1.5em;
}
#about {
  width: 100%;
  float: left;
}
#about .about-switch {
  width: 100%;
  float: left;
  text-align: center;
  padding: 5% 30%;
}
#about .about-switch .switch-content {
  width: 100%;
  float: left;
  border-radius: 40px;
  background-color: #ededed;
  height: 80px;
  border: solid 1px #ededed;
  z-index: 99;
}
#about .about-switch .switch-content .switch-item {
  width: 50%;
  float: left;
  border-radius: 40px;
  height: 100%;
  background-color: #ededed;
  border: solid 1px #ededed;
  color: #656565;
  transition: all 500ms;
  font-size: 1em;
}
#about .about-switch .switch-content .switch-item i {
  font-size: 1.4em;
  color: #8090ff;
}
#about .about-switch .switch-content .switch-item:hover {
  color: #212121;
}
#about .about-switch .switch-content .actived {
  background-color: #fff;
  color: #000;
}
#about .about-item {
  width: 100%;
  float: left;
  position: relative;
  height: 400px;
}
#about .about-item .about-item-presentation {
  width: 100%;
  float: left;
}
#about .about-item .about-item-presentation h1 {
  float: left;
  width: 40%;
  font-size: 1.5em;
  font-family: "Roboto";
  color: #404040;
}
#about .about-item .about-item-presentation h1 span {
  font-family: "Ubuntu";
}
#about .about-item .about-item-content {
  width: 100%;
  float: left;
  color: #454545;
  font-family: "Roboto";
  line-height: 1.5;
  margin-top: 50px;
}
#about .about-item .about-item-content span {
  width: 40%;
  float: left;
}
#about .about-item .image {
  width: 70%;
  float: left;
  position: absolute;
  top: -50px;
  right: 0;
  height: 100%;
  background-size: cover;
  z-index: -1;
}
#about .who {
  display: none;
}
#about .who .image {
  background-image: url("../img/who.jpg");
}
#about .mission {
  display: none;
}
#about .mission .image {
  background-image: url("../img/mission.jpg");
}
#about .actived {
  display: block;
}
