.visible-mobile
	display none
	@media (max-width: 992px)
		display block
	&.indestructible
		display none
		@media (max-width: 992px)
			display block
.hidden-mobile
	display block
	@media (max-width: 992px)
		display none
	&.indestructible
		display block
		@media (max-width: 992px)
			display none